/* setup */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.col-1 {
    grid-column: span 1
}

.col-2 {
    grid-column: span 2
}

.col-3 {
    grid-column: span 3
}

.col-4 {
    grid-column: span 4
}

.col-5 {
    grid-column: span 5
}

.col-6 {
    grid-column: span 6
}

.col-7 {
    grid-column: span 7
}

.col-8 {
    grid-column: span 8
}

.col-9 {
    grid-column: span 9
}

.col-10 {
    grid-column: span 10
}

.col-11 {
    grid-column: span 11
}

.col-12 {
    grid-column: span 12
}

@media (max-width: 992px) and (min-width: 768px) {
    .col-m-1 {
        grid-column: span 1
    }

    .col-m-2 {
        grid-column: span 2
    }

    .col-m-3 {
        grid-column: span 3
    }

    .col-m-4 {
        grid-column: span 4
    }

    .col-m-5 {
        grid-column: span 5
    }

    .col-m-6 {
        grid-column: span 6
    }

    .col-m-7 {
        grid-column: span 7
    }

    .col-m-8 {
        grid-column: span 8
    }

    .col-m-9 {
        grid-column: span 9
    }

    .col-m-10 {
        grid-column: span 10
    }

    .col-m-11 {
        grid-column: span 11
    }

    .col-m-12 {
        grid-column: span 12
    }
}

@media (max-width: 768px) {
    .col-s-1 {
        grid-column: span 1
    }

    .col-s-2 {
        grid-column: span 2
    }

    .col-s-3 {
        grid-column: span 3
    }

    .col-s-4 {
        grid-column: span 4
    }

    .col-s-5 {
        grid-column: span 5
    }

    .col-s-6 {
        grid-column: span 6
    }

    .col-s-7 {
        grid-column: span 7
    }

    .col-s-8 {
        grid-column: span 8
    }

    .col-s-9 {
        grid-column: span 9
    }

    .col-s-10 {
        grid-column: span 10
    }

    .col-s-11 {
        grid-column: span 11
    }

    .col-s-12 {
        grid-column: span 12
    }
}

/* body */

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 20px;
}

.item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: #fff;
    text-align: center;
    border: 5px solid #333;
    margin: 5px;
}

.item p {
    margin: 5px;
}

.caption {
    justify-self: end;
    align-self: start;
    background-color: #333;
    color: #fff;
    width: 100px;
}

.first {
    background-color: #550f0f;
}

.second {
    background-color: #355b3a;
}

.third {
    background-color: #4e532d;
    color: black;
}